<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toughts</title>
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <link rel="shortcut icon" href="/public/img/favicon.png" type="image/png">
</head>
<body>
    <nav id="navbar">
       <a href="/" id="logo">
       
       </a>
    </nav>
    {{{ body }}}
</body>
</html>