<h1>Livros disponiveis</h1>
<div class="books-container">
    {{#each books}}
    <div>
        #{{this.idbooks}} - <span class="bold">{{this.bookName}}</span> - {{this.pages}} páginas
    </div>
    {{/each}}
</div>