<h1>Livros disponiveis</h1>
<div class="books-container">
    <a href="/">Adicionar nomo livro</a>
    {{#each books}}
    <div>
        #{{this.idbooks}} - 
        <span class="bold"><a href="/books/{{this.idbooks}}">{{this.bookName}}</a></span>
         - {{this.pages}} páginas
    </div>
    {{/each}}
</div>